version: '3.8'
services:
  mongo:
    image: mongo:latest
    container_name: mongodb_local
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    command: mongod --replSet rs0 --bind_ip localhost,mongo
    networks:
      - app-net

  minio:
    image: minio/minio
    container_name: minio_local
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000" # API S3
      - "9001:9001" # painel web do MinIO
    volumes:
      - minio-data:/data
    networks:
      - app-net
volumes:
  mongo-data:
  minio-data:

networks:
  app-net:
    driver: bridge
